<table>
  <th>Id</th>
  <th>name</th>
  <th></th>
  <tr *ngFor='let st of StuArr'>
    <td>{{st.id}}</td>
    <td>{{st.name}}</td>
    <td><button (click)='deleteData(st)'>Delete</button></td>
    <td><button (click)='update()'>Update</button></td>
  </tr>
</table>
<div *ngIf=!updateboo>
  <form #names="ngForm" (ngSubmit)="UpdateData(names.value)">

    Name:<input type="text" name="name" ngModel><br>
    ID:<input type="text" name="id" ngModel><br>
    <input type="submit" value="Submit">
    </form>
  </div>

